html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ccc url(/img/bg2.png);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chart {
  width: 560px;
  height: 316px;
  margin: 100px auto 10px auto;
  background: rgba(10,10,10,0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 1px 0 1px rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 0 1px rgba(0,0,0,0.6);
  box-shadow: 0 1px 1px rgba(0,0,0,0.6);
/*  -webkit-box-shadow: 1px 0 2px rgba(0,0,0,1);
*/}

/*------------------------------------------------------------------------------------
  @group data
------------------------------------------------------------------------------------*/
text {
  font-size: 7px;
  fill: #444;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.apath {
  stroke: #222;
  stroke-width: 2px;
  fill: none;
}

.point {
  stroke-width: 2px;
  stroke: #fff;
}

g.cats .apath {
  stroke: #67bede;
}

g.dogs .apath {
  stroke: #af1318;
}

g.cats .point {
  fill: #67bede;
}

g.dogs .point {
  fill: #af1318;
}

g.even rect {
  shape-rendering: crispedges;
  fill: #101010;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: #1e1e1e;
}

g.odd rect {
  shape-rendering: crispedges;
  fill: #1c1c1c;
  fill-opacity: 0.4;
  stroke-width: 1px;
  stroke: #1e1e1e;
}

.tick line {
  stroke: 1px;
  stroke: #1e1e1e;
  shape-rendering: crispedges;
}

.tick text {
  fill: #666;
}

/* @end */

/*------------------------------------------------------------------------------------
  @group legend
------------------------------------------------------------------------------------*/

#lazy {
  width: 560px;
  margin: 0 auto;
  text-align: center;
}

#lazy li {
  display: inline-block;
}

#lazy li a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0,0,0,0.7);
  -webkit-border-radius: 12px;
  -moz-border-radius: 6px;
  border-radius: 16px;
  font-size: 12px;
  display: inline-block;
  padding: 6px 20px 6px 10px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.6);
  box-shadow: 0 1px 1px rgba(0,0,0,0.6);
}

#lazy span {
  background: #fff;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  display: inline-block;
  padding: 4px;
  margin-right: 5px;
}

#lazy li.cats span {
  background-color: #67bede;
}

#lazy li.dogs span {
  background-color: #af1318;
}

/* @end */