html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f1f1f1;
}

#chart {
  width: 600px;
  height: 300px;
  margin: 40px auto;
  background: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*------------------------------------------------------------------------------------
  @group data
------------------------------------------------------------------------------------*/
text {
  font-size: 8px;
  fill: #888;
  text-transform: uppercase;
}

.apath {
  stroke: #00aff2;
  stroke-width: 2px;
  fill: none;
}

.point {
  stroke-width: 2px;
  stroke: #fff;
}

g.cats .apath {
  stroke: #67bede;
}

g.dogs .apath {
  stroke: #af1318;
}

g.cats .point {
  fill: #67bede;
}

g.dogs .point {
  fill: #af1318;
}

g.even rect {
  shape-rendering: crispedges;
  fill: #ccc;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: #ddd;
}

g.odd rect {
  shape-rendering: crispedges;
  fill: #fff;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: #ddd;
}

/* @end */